<div class="banner">
    <div class="banu">
        <h1 class="titulo">Servicios</h1>
        <p class="cont">
            Utilizando las mejores tecnologías de desarrollo estoy listo para crear, diseñar, programar e implementar soluciones basadas en software.
        </p>
    </div>
</div>
<div class="containerBody">
    <div class="tc">
        <h1>Mis lista de servicios disponible en cualquier momento</h1>
    </div>
    <div class="servicios">
        <div class="s">
            <div class="lgs">
                <img src="../../../assets/img/icons8-web-design-100.png" alt="" class="icon">
            </div>
            <div class="cs">
                <h1>Sitios web</h1>
                <p>
                    El objetivo principal de un sitio web es entregar información de forma general sobre ti, tu empresa o negocio, por lo que solo requerirás de una sola vista en donde podrás proveer de dicha información a tus clientes.
                </p>
            </div>
        </div>
        <div class="s">
            <div class="lgs">
                <img src="../../../assets/img/icons8-web-design-100.png" alt="" class="icon">
            </div>
            <div class="cs">
                <h1>Aplicaciones web</h1>
                <p>
                    Una aplicación web cumple con diferentes funciones, un ejemplo podrían ser las redes sociales que existen actualmente. Una aplicación web puede servir como un administrador de mercancías, sistema de recursos humanos, etc.
                </p>
            </div>
        </div>
        <div class="s">
            <div class="lgs">
                <img src="../../../assets/img/icons8-web-design-100.png" alt="" class="icon">
            </div>
            <div class="cs">
                <h1>Páginas web</h1>
                <p>
                    Si lo que necesitas es exponer tus servicios, productos, información de contacto, etcétera, una página web es ideal para ti. Un ejemplo de página web puede ser esta misma dónde expongo los servicios que ofrezco a mis clientes.
                </p>
            </div>
        </div>
        <div class="s">
            <div class="lgs">
                <img src="../../../assets/img/icons8-android-100.png" alt="" class="icon">
            </div>
            <div class="cs">
                <h1>Aplicaciones Android</h1>
                <p>
                    Hoy en día las aplicaciones móviles son parte ya de nuestra vida diaria. Una aplicación móvil puede facilitar tu forma de llevar a cabo tus actividades diarias. Aprovecha todo el mar de posibilidades que estas te ofrecen.
                </p>
            </div>
        </div>
        <div class="s">
            <div class="lgs">
                <img src="../../../assets/img/icons8-desktop-100.png" alt="" class="icon">
            </div>
            <div class="cs">
                <h1>Software basado en la web</h1>
                <p>
                    Básicamente son "programas de escritorio" que aprovechan todos los beneficios que ofrecen las tecnologías web para poder implementar soluciones más ligeras y que por lo tanto no requieran el uso de grandes recursos de hardware.
                </p>
            </div>
        </div>
        <div class="s">
            <div class="lgs">
                <img src="../../../assets/img/icons8-male-user-100.png" alt="" class="icon">
            </div>
            <div class="cs">
                <h1>Soporte técnico</h1>
                <p>
                    El mantenimiento preventivo y correctivo de nuestras computadoras es indispensable para poder alargar la vida de las mismas y evitar grandes pérdidas de dinero al adquirir nuevos equipos que podrían ser el doble de costosos.
                </p>
            </div>
        </div>
    </div>
</div>
