<div class="menu">
    <div class="logo">
        <img src="../../../assets/img/logo_fer.png" alt="" class="imgLogo">
    </div>
    <div class="men">
        <button class="btn" [routerLink]="['/inicio']">Inicio</button>
        <button class="btn" [routerLink]="['/servicios']">Servicios</button>
        <button class="btn" [routerLink]="['/productos']">Productos</button>
        <button class="btn" [routerLink]="['/portafolio']">Portafolio</button>
        <button class="btn" [routerLink]="['/acercade']">Acerca de</button>
    </div>
</div>