<div class="banner">
    <div class="titulo">
        <h1>SPS FERDEV</h1>
    </div>
    <div class="leyenda">
        <h6>
            Hemos desarrollado una aplicación web para punto de ventas, con la capacidad de poder acoplarle aplicaciones móviles para Android, IOS, incluso una tienda en línea, todo dentro de un mismo ecosistema para que puedas gestionar de una forma más inteligente
            tu negocio o empresa.
        </h6>
    </div>
    <div class="boton">
        <button class="btn btn-success" [routerLink]="['/acercade']"> Solicitar más información > </button>
    </div>
    <div class="imagen">
        <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/sps_mockup.png" alt="" class="imagenMock">
    </div>
</div>

<div class="contBody">

    <div class="prodgeneral">
        <div class="descripcion">
            <div class="tdes">
                <h2>La aplicación web para ventas ideal para tu negocio</h2>
                <h4>Hemos desarrollado una aplicación web que se adecua a tus necesidades</h4>
                <button class="btn btn-link" [routerLink]="['/acercade']"><h4>Más información ></h4></button>
            </div>
        </div>
        <div class="imagenGeneral">
            <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/general_prod.jpg" alt="" class="imgGeneral">
        </div>
    </div>

    <div class="admin">
        <div class="categorias">
            <h1>Categorías</h1>
            <p>
                Podrás dividir tus productos en categorías, de esta forma podrás ahorrar tiempo en buscar y mostrar a tus clientes los productos disponibles en tu empresa.
            </p>
            <button class="btn btn-link" [routerLink]="['/acercade']"><h4>Más información ></h4></button>
            <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/categorias.jpg" alt="" class="imgCategorias">
        </div>
        <div class="subcategorias">
            <h1>Subcategorías</h1>
            <p>¿Dividir tus productos solo por categorías? El sistema te permite también crear subcategorías, esto te ayudará a tener en un mejor orden todos tus productos, de esta forma podrás consultarlos de una forma más profesional.</p>
            <button class="btn btn-link" [routerLink]="['/acercade']"><h4>Más información ></h4></button>
            <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/subcategorias.jpg" alt="" class="imgCategorias">
        </div>
    </div>

    <div class="question">
        <div class="imgquestion">
            <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/question.png" alt="" class="imgQuestions">
        </div>
        <div class="response">
            <h2>¿Por qué invertir en un sistema de ventas?</h2>
            <p>Realizar una inversión para nuestro negocio es sumamente importante, hoy en día las grandes compañías de manejo de mercancía y productos, implementan sistemas complejos de información que les ayudan a gestionar una mejor forma sus ventas,
                productos y almacenamiento de los mismos.</p>
        </div>
    </div>

    <div class="contenedor">
        <div class="tcont">
            <h2>Productos por Marcas</h2>
            <p>Da click sobre cualquiera de tus productos para observar los detalles generales del mismo y obtén una vista adecuada que tus clientes puedan entender. La marca a la que pertenecen tus productos es muy importante para generar la confianza ideal
                en tus clientes y que estos confíen en los productos que les provees. Es por ello que integramos un panel donde podrás gestionarlas de manera muy simple</p>
        </div>
        <div class="imagenDetalles">
            <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/detalles.jpg" alt="" class="imgCont">
        </div>
        <div class="imagenMarcas">
            <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/marcas.jpg" alt="" class="imgCont">
        </div>
    </div>

    <div class="precios">
        <h1>
            <p>
                Planes de renta
            </p>
        </h1>
        <div class="subo">
            <h2>Básico</h2>
            <hr>
            <div class="cont">
                <p>Un plan ideal para negocios pequeños, tienditas o personas independientes que deseen ofrecer una mejor experiencia de compra-venta a sus clientes.</p>
                <ul>
                    <li>Goza de todas las funciones que incluye el sistema</li>
                    <li>Actualizaciones gratis</li>
                    <li>Soporte técnico durante 6 meses</li>
                    <li>Sin contratos obligatorios</li>
                    <li>Implementación local en un solo equipo</li>
                    <li>Copias de seguridad semestral</li>
                </ul>
            </div>
            <hr>
            <h2>$ 650 MXN</h2>
        </div>
        <div class="subt">
            <h2>Premium</h2>
            <hr>
            <div class="cont">
                <p>Al adquirir nuestro producto en su plan de renta premium obtén los siguientes beneficios que en ningún otro lugar podrás encontrar.</p>
                <ul>
                    <li>Módulos ilimitados.</li>
                    <li>Actualizaciones gratis.</li>
                    <li>Soporte técnico.</li>
                    <li>Sin contratos obligatorios.</li>
                    <li>Asesorías y cursos para el manejo del sistema.</li>
                    <li>Opciones de implementación.</li>
                    <li>Copias de seguridad periódicamente.</li>
                    <li>Posibilidad para adaptar un sistema de ventas en línea.</li>
                    <li>Opción para adaptar una aplicación móvil.</li>
                </ul>
            </div>
            <hr>
            <h2>$ 3500 MXN</h2>
        </div>
        <div class="subr">
            <h2>Estándar</h2>
            <hr>
            <div class="cont">
                <p>El plan estándar es ideal para aquellos negocios medianos que desean expandir su capacidad operativa, obtén los beneficios necesarios para comenzar a digitalizar tu negocio y llevarlo al siguiente nivel.</p>
                <ul>
                    <li>Módulos limitados.</li>
                    <li>Actualizaciones gratis.</li>
                    <li>Soporte técnico durante 18 meses.</li>
                    <li>Opciones de implementación.</li>
                    <li>Copias de seguridad bimestralmente.</li>
                    <li>Asesorías gratis durante 3 meses.</li>
                </ul>
            </div>
            <hr>
            <h2> $ 1200 MXN</h2>
        </div>
    </div>

</div>