<div class="banner">
    <h1 class="titulo">¿QUIÉN SOY YO?</h1>
</div>

<div class="containerBody">
    <div class="perfil">
        <div class="logo">
            <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/logo_fer.png" alt="" class="logoImg">
        </div>
        <div class="descripcion">
            <h1 class="titulo">FERDEV</h1>
            <p class="desperfil">
                Mi nombre es Luis Fernando, soy un joven con pasión por desarrollar, crear y diseñar sitios, páginas y aplicaciones web, así como también aplicaciones nativas para Android y software basado en la web. Actualmente vivo en la ciudad de Fortín de las flores,
                Veracruz.
            </p>
        </div>
        <div class="hab">
            <h3>Mis habilidades</h3>
            <nav class="listHab">
                <ul>
                    <li>HTML5</li>
                    <li>CSS 3</li>
                    <li>JAVASCRIPT</li>
                    <li>.NET FRAMEWORK</li>
                    <li>JAVA ANDROID</li>
                    <li>Desarrollo web Frontend</li>
                </ul>
            </nav>
            <nav class="listHab">
                <ul>
                    <li>IONIC FRAMEWORK</li>
                    <li>SQL/MYSQL/POSTGRESQL/MSSQL</li>
                    <li>ANGULAR</li>
                    <li>LARAVEL</li>
                    <li>LINUX</li>
                    <li>Desarrollo Backend</li>
                </ul>
            </nav>
        </div>
        <div class="hab">
            <h3>Reconocimientos y certificaciones</h3>
            <nav class="listHab">
                <ul>
                    <li>Diploma de primer lugar en BASES DE DATOS TRANSC-SQL (ICO)</li>
                    <li>Diploma de primer lugar en SEGURIDAD EN REDES (ICO)</li>
                    <li>Diploma de primer lugar en DESARROLLO DE APLICACIONES XAMARIN (ICO)</li>
                    <li>Certificación CISCO ITESSENTIALS (UTCV)</li>
                    <li>Certificación CISCO ROUTING&SWITCHING l (UTCV)</li>
                    <li>Certificación CISCO ROUTING&SWITCHING ll (UTCV)</li>
                    <li>Certificación CSICO LINUX ESSENTIALS (UTCV)</li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="contacto">
        <div class="conText">
            <h5>Para cualquier consulta, pregunta o comentario por favor póngase en contacto conmigo a continuación!</h5>
            <a href="mailto:fernando_rendel892@hotmail.com?Subject=Cotizacion%de%servicios" class="emailButton">Contactar por correo</a>
        </div>
        <div class="btnContact">
            <a href="https://www.instagram.com/fernand_117/" class="enlace" target="_blank">
                <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/icons8-instagram-480.png" alt="" class="iconEnlace">
            </a>
            <a href="https://www.linkedin.com/in/luis-fernando-leyva-luna-937a29129/" class="enlace" target="_blank">
                <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/icons8-linkedin-100.png" alt="" class="iconEnlace">
            </a>
            <a href="https://github.com/Fernand117" class="enlace" target="_blank">
                <img src="https://fernand117.github.io/ferdevPortafolio/assets/img/icons8-github-100.png" alt="" class="iconEnlace">
            </a>
        </div>
    </div>
</div>