<div class="banner">
    <div class="banu">
        <h1 class="titulo">Portafolio</h1>
        <p class="cont">
            Bienvenido a mi portafolio de trabajo, aquí podrás encontrar todos los proyectos que he realizado, desde aplicaciones web, aplicaciones móviles, hasta herramientas de seguridad informática.
        </p>
    </div>
</div>
<div class="containerBody">
    <div class="acrol">
        <div class="imagen imgAc">
            <img src="../../../assets/img/acrol_app.jpeg" alt="" class="imgAcrol">
            <img src="../../../assets/img/acrol_app1.png" alt="" class="imgAcrol">
            <img src="../../../assets/img/acrol_app2.png" alt="" class="imgAcrol">
        </div>
        <div class="descripcion">
            <h2>Acrol</h2>
            <p>Aplicación móvil nativa para Android, creada para administrar los productos, ventas, clientes, remisiones, de cualquier negocio del área automotriz.</p>
        </div>
    </div>
    <div class="acrol">
        <div class="descripcion">
            <h2>Chevron</h2>
            <p>Aplicación móvil nativa para Android, creada para administrar los productos, ventas, clientes, remisiones, de cualquier negocio del área automotriz.</p>
        </div>
        <div class="imagen imgCh">
            <img src="../../../assets/img/Chevron.jpg" alt="" class="imgChevron">
        </div>
    </div>
    <div class="acrol">
        <div class="imagen imgVr">
            <img src="../../../assets/img/Veracruz.jpg" alt="" class="imgChevron">
        </div>
        <div class="descripcion">
            <h2>Veracruz</h2>
            <p>Aplicación móvil nativa para Android, creada para administrar los productos, ventas, clientes, remisiones, de cualquier negocio del área automotriz.</p>
        </div>
    </div>
    <div class="acrol">
        <div class="descripcion">
            <h2>Acrol</h2>
            <p>Aplicación móvil nativa para Android, creada para administrar los productos, ventas, clientes, remisiones, de cualquier negocio del área automotriz.</p>
        </div>
        <div class="imagen imgCn">
            <img src="../../../assets/img/centinela1.jfif" alt="" class="imgCentinela">
            <img src="../../../assets/img/centinela2.jfif" alt="" class="imgCentinela">
        </div>
    </div>
</div>