.banner {
    width: 100%;
    height: 440px;
    text-align: center;
    margin-top: 8%;
}

.titulo {
    font-size: 80px;
}

.sub {
    width: 50%;
    margin: 0 auto;
    padding: 15px;
    font-size: 35px;
}

.btn {
    width: 200px;
    height: 40px;
    border-style: none;
    background-color: #3949AB;
    color: white;
    border-radius: 20px;
}

.btn:hover {
    background-color: #4355c9;
}

a {
    text-decoration: none;
    color: white;
}
